<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/">Simple Chat</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Log Out</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">User</a>
      </li>
    </ul>

  </div>
</nav>
