<div class="container-fluid ">
  <div class="row justify-content-center ">
    <div class="col-12 col-sm-6 col-md-3 login-form">
      <form action="https://asimple-chat.herokuapp.com:8080/auth/forgotPassword" method="POST">
        <h3>Forgot password</h3>
        <div class="mb-3">
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
</div>
