<div class="container-fluid mt-5">
  <div class="row justify-content-center ">
    <div class="col-12 col-sm-6 col-md-3 login-form">
      <form class="login-form" action="http://localhost:3000/auth/signIn" method="POST">
        <h3>Log In</h3>
        <div class="mb-3">
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email" required>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="d-flex login-options justify-content-between p-3">
          <div>
            <a href="/forgotPass" class="link-dark">forgot password</a>
          </div>
          <div>
            <a href="/signup" class="link-dark">sign up</a>
          </div>
        </div>
        <button type="submit"  class="btn btn-primary w-100">Submit</button>
      </form>
    </div>
  </div>
</div>